
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

.findCom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.findCom form {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.findCom form button {
    border: none;
    outline: none;
    background-color: transparent;
}

.findCom form input {
    width: 90%;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    outline: none;
}

.table_container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_head {
    background-color: black;
    color: white;
}

.table_container th, .table_container td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table_body tr:nth-child(even) {
    background-color: #f2f2f2;
}

.actions-l {
    display: flex;
    justify-content: space-between;
}

.deleteBtn, .updateBtn, .detailsBtn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
}

.updateBtn {
    background-color: #007bff;
}

.detailsBtn {
    background-color: #1a2e44;
}

.create {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.create a {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.create a:hover {
    background-color: #218838;
}
