body {
    background-color: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 290px) and (max-width: 699px) {
    .principal_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
        /* background-color: #3e8842; */
        /* margin-top: 40px; */
    }

    .principal_content .card-user {
        margin-top: 40px;
        width: 100%;
        /* background-color: #2193b0; */
    }

    .card-user .card-header {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #191970; */
    }

   

    .card-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* background-color: blueviolet; */
    }

    .card-body article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        /* background-color: #45a049; */
    }

    .card-body article a {
        text-decoration: none;
        color: white;
        border-radius: 12px;
    
    }

    .actions-card {
        display: flex;
        gap: 10px;
        height: 40px;
        width: 100%;
        /* background-color: #808080; */
        justify-content: center;
        /* padding-left: 15px; */
    }

    .secOpt h5{
        display: none;
    }
    
    article .action {
        width: 60%;
        background-color: rgb(53, 61, 168);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    #actionTwo {
        width: 82%;
    }

    .actions-card form{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .actions-card form button {
        width: 100%;
        height: 100%;
        background-color: #45a049;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .actions-card form button:hover{
        background-color: #3e8842;
    }

    .card-header-two {
        width: 100%;
        /* background-color: #2193b0; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hdv {
        height: 40px;
        width: 100%;
    }

    .hdv form {
        width: 82%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hdv form button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: #2193b0;
        color: white;
        outline: none;
        border: 1px solid #eee;
        border-radius: 5px;
    }
    
    .hdv form button:hover {
        background-color: rgb(29, 29, 29);
    
    }

    .user-content {
        width: 100%;
        display: flex;
        /* height: 100%; */
        justify-content: center;
        flex-direction: column;
        margin-top: 25px;
        /* background-color: #3e8842; */
        padding: 14px;
    }
    
    .app_title {
        height: 20%;
        width: 100%;
        /* background-color: #191970; */
        /* margin-top: 15px; */
    }

    .applications {
        margin-top: 30px;
        max-height: 500px;
        overflow: auto;
        padding-bottom: 5px;
    }
    
    .applications::-webkit-scrollbar {
        width: 7px; /* Ancho del scrollbar */
    }
    
    /* Estilo del thumb del scrollbar */
    .applications::-webkit-scrollbar-thumb {
        background-color: #a1a1a1; /* Color del thumb */
        border-radius: 5px; /* Radio de borde del thumb */
    }
    
    .applications .allAplications {
        margin-top: 35px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .containerAplication {
        height: 80px;
        padding: 4px;
        display: flex;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid #b8b8b8;
        border-radius: 8px;
        background-color: white;
    }
    
    .containerAplication .charge {
        width: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 10px;
        margin-right: 5px;
    }
    
    .charge h4 {
        font-size: 11px;
    }
    
    .charge span {
        font-size: 12px;
        color: #808080;
    }
    
    .statuses {
        width: 65%;
    }
    
    .containerAplication .containerStatuses {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    
    .containerStatuses div {
        font-size: 7px;
        width: 24.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0px 1px 0px 1px;
        border-style: solid;
        font-weight: bold;
    border-color: #dbdbdb;
    }
    
    .exit {
        width: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .exit a:hover {
        background-color: rgb(170, 0, 0);
    }
    
    .exit form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #191970; */
    }
    
    .btnaction {
        outline: none;
        border: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
    }

    
    .oneBtn {
        background-color: #3e8842;
        color: white;
    }
    
    .twoBtn {
        background-color: rgb(218, 204, 13);
    }
    
    .twoBtn i{
        color: black;
    }
    
    .exit i {
        font-size: 19px;
    }
    
    .user_c_container {
        width: 95%;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 15px 0 0;
        line-height: 1.5;
    }
    
    .postulated.active {
        background-color: #2193b0;
        color: white;
        border-radius: 5px;
    }
    
    .cvView.active {
        background-color: orange;
        color: white;
        border-radius: 5px;
    }
    
    .selected.active {
        background-color: #45a049;
        color: white;
        border-radius: 5px;
    }
    
    .finally.active {
        background-color: #191970;
        color: white;
        border-radius: 5px;
    }
}

@media screen and (min-width: 699px) {
    .principal_content {
        width: 100%;
        display: flex;
        margin-bottom: 50px;
    }
    
    .principal_content .card-user {
        margin-top: 40px;
        width: 40%;
        display: flex;
        align-items: center;
    }
    
    .card-user {
        display: flex;
        flex-direction: column;
    }
    
    .card-user .card-header {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-body {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .card-body article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    
    
    .card-body article a {
        text-decoration: none;
        color: white;
        border-radius: 12px;
    
    }
    
    .actions-card {
        display: flex;
        gap: 10px;
        height: 40px;
    }
    
    article .action {
        width: 80%;
        background-color: rgb(53, 61, 168);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    
    .actions-card form{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .actions-card form button {
        width: 100%;
        height: 100%;
        background-color: #45a049;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .actions-card form button:hover{
        background-color: #3e8842;
    }
    
    .hdv {
        height: 40px;
        width: 100%;
    }
    
    #actionTwo {
        width: 100%;
    }
    
    .hdv form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hdv form button {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-color: #2193b0;
        color: white;
        outline: none;
        border: 1px solid #eee;
        border-radius: 5px;
    }
    
    .hdv form button:hover {
        background-color: rgb(29, 29, 29);
    
    }
    
    .user-content {
        width: 70%;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        margin-top: 65px;
    
    }
    
    .app_title {
        height: 20%;
        width: 100%;
    }
    
    .applications {
        margin-top: 30px;
        max-height: 50vh;
        overflow: auto;
        padding-bottom: 5px;
    }
    
    .applications::-webkit-scrollbar {
        width: 7px; /* Ancho del scrollbar */
    }
    
    /* Estilo del thumb del scrollbar */
    .applications::-webkit-scrollbar-thumb {
        background-color: #a1a1a1; /* Color del thumb */
        border-radius: 5px; /* Radio de borde del thumb */
    }
    
    .applications .allAplications {
        margin-top: 35px;
        border-radius: 5px;
        width: 97%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .containerAplication {
        height: 80px;
        padding: 4px;
        display: flex;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border: 1px solid #b8b8b8;
        border-radius: 8px;
        background-color: white;
    }
    
    .containerAplication .charge {
        width: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 10px;
        margin-right: 5px;
    }
    
    .charge h4 {
        font-size: 13px;
    }
    
    .charge span {
        font-size: 12px;
        color: #808080;
    }
    
    .statuses {
        width: 65%;
    }
    
    .containerAplication .containerStatuses {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    
    .containerStatuses div {
        font-size: 12px;
        width: 24.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0px 1px 0px 1px;
        border-style: solid;
    border-color: #dbdbdb;
    }
    
    .exit {
        width: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .exit a:hover {
        background-color: rgb(170, 0, 0);
    }
    
    .exit form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .btnaction {
        outline: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
    }
    
    .oneBtn {
        background-color: #3e8842;
        color: white;
    }
    
    .twoBtn {
        background-color: rgb(218, 204, 13);
    }
    
    .twoBtn i{
        color: black;
    }
    
    .exit i {
        font-size: 20px;
    }
    
    .user_c_container {
        width: 95%;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 15px 0 0;
        line-height: 1.5;
    }
    
    .postulated.active {
        background-color: #2193b0;
        color: white;
        border-radius: 5px;
    }
    
    .cvView.active {
        background-color: orange;
        color: white;
        border-radius: 5px;
    }
    
    .selected.active {
        background-color: #45a049;
        color: white;
        border-radius: 5px;
    }
    
    .finally.active {
        background-color: #191970;
        color: white;
        border-radius: 5px;
    }
    
    
    
}