* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}

.logo {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.find {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find #form {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.find #form button {
    border: none;
    outline: none;
    cursor: pointer;
}

.input-search {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 20px;
}



.actions {
    display: flex;
    width: 33.3%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.actions h5 {
    margin-right: 10px;
}

.actions h5 a {
    text-decoration: none;
    color: black;
}



.actions button {
    padding: 8px 12px;
    background-color: #2193b0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button:hover {
    background-color: rgb(29, 29, 29);
}

.site-footer {
    grid-area: site-footer;
    position: static;
    width: 100%;
    bottom: 0;
    height: 300px;
    margin-top: 50px;
    background-color: #2193b0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Index {
    width: 100%;
    height: 20%;
    background-color: #134F5C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Index h4 a {
    color: white;
    text-decoration: none;
}

.content-footer {
    width: 80%;
    height: 80%;
}

.container-footer {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-footer .cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont a {
    color: white;
}

.copy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}





