* {
    font-family: sans-serif;
}


.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    transition: box-shadow 0.3s ease;
    z-index: 1000; 
    border-bottom: 1px solid #cacaca;
    margin-bottom: 30px;
}

.header.scrolled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .bar-nav {
    width: 53%;
    height: 100%;
}

.header .img-header {
    width: 27%;
    display: flex;
    justify-content: center;
}

.header .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .bar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.bar-nav .ul-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 45px;
    padding-right: 70px;
}
.ul-list li a {
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
    border: 2px solid transparent;
    transition: border-bottom 0.3s, transform 0.3s ease-in-out;
}

.last{
    border: 2px solid black;
    /* background-color: rgb(53, 61, 168); */
    padding: 12px;
    border-radius: 5px;
    /* border: 2px solid rgb(53, 61, 168); */

}

.ul-list li a:hover {
    color: rgb(53, 61, 168);
    transition: 0.3s ease-in-out;
}

form {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

}

h2 {
    color: white;
}

.title {
    background-color: rgb(53, 61, 168);
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: transparent;
    background-image: url('path/to/calendar-icon.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
} */

.sub {
    width: 100%;
    padding: 10px;
    background-color: rgb(53, 61, 168);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sub:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.ast {
    color: red;
}