.modalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.6); /* Fondo oscuro con opacidad */
    z-index: 999;
}


.titlepage {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 30px;
}

.titlepage .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title h3 {
    color: rgb(53, 61, 168);
}

.title h5 {
    color: #1b681d;
}

.titlepage .conv {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.act {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btnAct {
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.btOne {
    background-color: #2ecc71;
}

.btTwo {
    background-color: #27812a;
}

.btThree {
    background-color: #125ba5;
}

.btFour {
    background-color: rgb(218, 204, 13);
}

td span.score {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

/* Acciones en línea */
td .actionForm, .actionForm2 {
    display: inline-block;
    vertical-align: middle;
}


td .actionForm button {
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2ecc71;
    vertical-align: middle;
}

.container {
    max-width: 1245px;
    margin: 0 auto;
    padding: 20px;
}

.containerTable {
    width: 100%;
    /* background-color: gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.candidate {
    width: 700px;
    height: 300px;
    padding: 10px;
    /* background-color: #eee; */
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    /* box-shadow: 10px 10px 10px rgba(221, 221, 221, 0.877); */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(53, 61, 168, 0.5);
    transition: box-shadow 0.3s ease;
} 

.candidate:hover {
    box-shadow: 0px 6px 15px rgba(53, 61, 168, 0.7);
}

.containerImage {
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerInfo {
    width: 60%;
    padding-left: 20px;
    height: 85%;
    /* background-color: #125ba5; */
    display: flex;
    flex-direction: column;
}

.containerInfo article {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    /* background-color: #1b681d; */
}

.firstRow {
    height: 17.3%;
    /* background-color: #1b681d; */
    display: flex;
    gap: 30px;
    align-items: center;

}

.firstRow form .enabledTwo {
    padding: 8px;
    border: 1px solid black;
    outline: none;
    background-color: rgb(53, 61, 168);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.disabledTwo {
    background-color: rgb(53, 61, 168, 0.3);
    padding: 8px;
    border: 1px solid black;
    outline: none;
    /* background-color: rgb(53, 61, 168); */
    color: white;
    border-radius: 5px;
}

.secondRow {
    /* background-color: #2ecc71; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 57.3%;
    padding-top: 20px;
}

.thirdRow {
    /* background-color: brown; */
    height: 29.3%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 15px;
}

.thirdRow .enabled {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;  
    border-radius: 5px;
    /* cursor: pointer; */
    background-color: rgba(0, 0, 0, 0.2);
}

.thirdRow form:first-child button {
    background-color: #27812a;
    color: white;
}

.thirdRow form:nth-child(2) .enabled {
    background-color: rgb(168, 10, 10);
    color: white;
}

.thirdRow form:last-child .enabled {
    background-color: rgb(218, 204, 13);
    color: black;
}

.containerImage img {
    width: 90%;
    height: 90%;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid black;
}

/* table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #2193b0;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Acciones (Botones) */

.actionForm2 button {
    /* background-color: #2193b0; */
    border: none;
    outline: none;
    padding: 4px;
    /* color: white; */
    cursor: pointer;
    border-radius: 4px;
}

.iOne {
    background-color: #27812a;
    color: white;
}

.iOne:hover {
    background-color: #1b681d;
}

.iTwo {
    background-color: #1976d2;
    color: white;
}

.iTwo:hover {
    background-color: #125ba5;
}

.iThree {
    background-color: rgb(218, 204, 13);
    color: white;
}

.iThree:hover {
    background-color: rgb(177, 177, 18);
}

.actionForm2 button i {
    font-size: 12px;
}


.bi {
    font-size: 1.2rem;
    vertical-align: middle;
} */

.modalWindow {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    max-height: 400px;
    text-align: center;
    border-radius: 10px;
}

.modalWindow .close {
    width: 100%;
}

.close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-bottom: 20px;
}

.close i {
    cursor: pointer;
}

.modalWindow form {
    display: flex;
    flex-direction: column;
}

.modalWindow label {
    margin-bottom: 10px;
    font-size: 16px;
}

.modalWindow form button {
    background-color: #2193b0;
    border: none;
    outline: none;
    height: 25px;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

/* Responsive Styles (Opcional) */
@media (max-width: 768px) {
    th, td {
        font-size: 14px;
    }

    .actionForm button {
        padding: 3px 6px;
    }
}
