body {
    font-family: Arial, sans-serif;
}


.containerr {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 80px;
    height: auto;
}

.form {
    max-width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Estilos para las etiquetas del formulario */
.form label {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para los campos de texto del formulario */
.form input[type="password"] {
    width: 500px; /* Ajustar el ancho para compensar el padding */
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilos para el botón del formulario */
.form input[type="submit"] {
    background-color: #2193b0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
