body {
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.formupdate {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

.ast {
    color: red;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button.sub {
    background-color: rgb(53, 61, 168);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.sub:hover {
    background-color: #0056b3;
}