* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal_content {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

.principal_content .card-user {
    margin-top: 40px;
    width: 40%;
    display: flex;

    align-items: center;
}

.card-user {
    display: flex;
    flex-direction: column;
}

.card-user .card-header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-body article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.card-body article a {
    text-decoration: none;
    color: white;
    border-radius: 12px;

}

.actions-card {
    display: flex;
    gap: 10px;
    height: 40px;
}

article .action {
    width: 80%;
    background-color: #2193b0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-card form{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-card form button {
    width: 100%;
    height: 100%;
    background-color: #45a049;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.actions-card form button:hover{
    background-color: #3e8842;
}

.hdv {
    height: 40px;
    width: 100%;
}

#actionTwo {
    width: 100%;
}

.hdv form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hdv form button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #2193b0;
    color: white;
    outline: none;
    border: 1px solid #eee;
}

.hdv form button:hover {
    background-color: rgb(29, 29, 29);

}

.user-content {
    width: 60%;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-top: 65px;
}

.user_c_container {
    width: 95%;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 15px 0 0;
}


